.teacher {
   display: flex;
   border-radius: 8px;
   background-color: #e28383;
   flex-direction: column;
   margin: 15px;
   margin-left: 20px;
   margin-top: 80px;
   border: 1px solid black;
   color: #000;
   padding-left: 10px;
   padding-right: 10px;
}

.teacher {
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .teacher p {
   font-size: 1.2em;
   color: #333;
 }
 